* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 40px 20px;
	min-height: 100vh;
	background-image: linear-gradient(rgba(44, 44, 44, 0.7), rgb(0, 0, 0));
}

.hero-badge {
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 8px;
	padding: 14px 18px;
	margin-bottom: 30px;
	background-color: #151515;
	border: 1px solid #333;
	border-radius: 30px;
	width: fit-content;
}

.hero-badge span {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}

.hero h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.hero-button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.hero-button:hover {
    background-color: rgba(199, 28, 28, 0.1);
    color: black;
    border: 1px solid #151515;
}